

<div id="leave_message_form">
    <form>
        <br> <p>who are you：&nbsp;<input type="text" maxlength="20" name="leave_message_uname" id="leave_message_uname" class="leave_message_uname">&nbsp;<font style="color: #C83838;font-size: small">(留言信息只有博主本人可见！)</font></p>
        <br><p>请在下方留言：&nbsp;<font style="color: #ff0000;font-size: small">(留言不能为空哦！)</font></p><br>

        <!-- 加载编辑器的容器 -->
        <textarea id="leave_message_content" class="leave_message_content" name="leave_message_content">

    </textarea>
        <br><br/><br><br/><br/>
        <input type="button" value="提交" id="leave_message_content_sub" onclick="submitMessageForm();">
        <br/><br>
    </form>
</div>
