<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<table align="center" border="0" cellpadding="0" cellspacing="0" width="120">
    <tr height="40">
        <td align="center" bgcolor="27AE60">
            <a href="index.php?p=back&c=Articles&a=art_add" style="text-decoration: none;color: white;font-size: 16px" target="adminRightFrame"><strong>发表文章</strong></a>
        </td>
    </tr>

    <tr height="20">
        <td></td>
    </tr>
    <tr height="40">
        <td align="center" bgcolor="27AE60">
            <a href="index.php?p=back&c=Articles&a=art_mag" style="text-decoration: none;color: white;font-size: 16px" target="adminRightFrame"><strong>文章管理</strong></a>
        </td>
    </tr>

    <tr height="20">
        <td></td>
    </tr>
    <tr height="40">
        <td align="center" bgcolor="27AE60">
            <a href="index.php?p=back&c=Articles&a=cag_mag" style="text-decoration: none;color: white;font-size: 16px" target="adminRightFrame"><strong>分类管理</strong></a>
        </td>
    </tr>

    <tr height="20">
        <td></td>
    </tr>
    <tr height="40">
        <td align="center" bgcolor="27AE60">
            <a href="index.php?p=back&c=Articles&a=com_mag" style="text-decoration: none;color: white;font-size: 16px" target="adminRightFrame"><strong>评论管理</strong></a>
        </td>
    </tr>

    <tr height="20">
        <td></td>
    </tr>
    <tr height="40">
        <td align="center" bgcolor="27AE60">
            <a href="index.php?p=back&c=Message&a=mes_mag" style="text-decoration: none;color: white;font-size: 16px" target="adminRightFrame"><strong>留言管理</strong></a>
        </td>
    </tr>

    <tr height="20">
        <td></td>
    </tr>
    <tr height="40">
        <td align="center" bgcolor="27AE60">
            <a href="javascript:void(0)" style="text-decoration: none;color: white;font-size: 16px" target="adminRightFrame"><strong>相册管理</strong></a>
        </td>
    </tr>

    <tr height="20">
        <td></td>
    </tr>
</table>

</body>
</html>