<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<frameset rows="100,*">
    <frame src="index.php?p=back&c=Manage&a=top" scrolling="no" noresize="noresize" frameborder="0">
    <frameset cols="200,*">
        <frame src="index.php?p=back&c=Manage&a=left" scrolling="no" noresize="noresize" frameborder="0">
        <frame src="index.php?p=back&c=Articles&a=art_add"  name="adminRightFrame" frameborder="0" >
    </frameset>
</frameset>
<noframes>该浏览器版本过低，不支持此页面展示！</noframes>
</html>